@import '/src//styles/variables';

.editor {
    grid-area: editor;
    overflow-x: hidden;
    width: 100%;

    @include smallDevice {
        border-bottom: 2px solid var(--chakra-colors-gray-600);
    }
}
