$navbarHeight: 40px;

// value related to useIsSmallDevice hook
$smallDeviceSize: 1100px;

@mixin scrollbar {
    &::-webkit-scrollbar {
        background-color: var(--chakra-colors-gray-200);
        -webkit-appearance: none;
        width: 0.35em;
        height: 0.35rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--chakra-colors-gray-400);
        border-radius: 1rem;
    }
}

@mixin hiddenScrollbar {
    &::-webkit-scrollbar {
        position: absolute;
        background-color: transparent;
        -webkit-appearance: none;
        width: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--chakra-colors-gray-700);
    }
}

@mixin smallDevice {
    @media screen and (max-width: $smallDeviceSize) {
        @content;
    }
}
