@import 'variables';

.main {
    font-size: 15px;
    display: grid;
    height: 100vh;
    grid-template-columns: auto 1fr 1fr;
    grid-template-areas: 'navbar editor preview';
    overflow: hidden;

    @include smallDevice {
        font-size: 14px;
        grid-template-columns: 100%;
        grid-template-rows:
            $navbarHeight
            calc(45vh - #{$navbarHeight * 0.5})
            calc(55vh - #{$navbarHeight * 0.5});
        grid-template-areas: 'navbar' 'editor' 'preview';
    }
}

// codeMirror scrollbar
.cm-scroller {
    font-family: var(--chakra-fonts-body) !important;
    overflow: scroll;
    @include scrollbar;

    @include smallDevice {
        overflow-y: auto;
    }
}

a {
    color: var(--chakra-colors-blue-200) !important;
}
