@import 'variables';

body {
    // Overpassing the default values in chakra-ui
    position: fixed !important;
    min-height: 0 !important;

    height: calc(100vh - (100vh - 100%));
    width: 100vw;
    overflow: hidden;
}

#root {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    display: grid;
    font-size: 15px;
    grid-template-areas: 'navbar panelsContainer';
    grid-template-columns: auto 1fr;
    width: 100%;
    overflow: hidden;

    @include smallDevice {
        font-size: 14px;
        grid-template-areas: 'navbar' 'panelsContainer';
        grid-template-columns: 100%;
        grid-template-rows: $navbarHeight calc(100% - #{$navbarHeight});
    }
}

// codeMirror
.cm-scroller {
    font-family: var(--chakra-fonts-body) !important;
    overflow: scroll;
    @include scrollbar;

    @include smallDevice {
        overflow-y: auto;
    }
}
