@import '/src//styles/variables';

.preview {
    grid-area: preview;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5rem 1rem;
    width: 100%;
    @include scrollbar;

    a {
        color: var(--chakra-colors-blue-200);
    }

    @include smallDevice {
        padding: 0.5rem 1rem;
        max-width: 100%;
    }

    .chakra-code {
        max-width: 100%;

        * {
            @include scrollbar;
        }
    }

    ul {
        li {
            label {
                input {
                    display: none !important;
                }
            }
        }
    }

    div {
        hr {
            margin: 1rem 0;
        }
    }

    hr {
        margin: 1rem 0;
    }

    code {
        max-width: 100%;

        * {
            @include scrollbar;
        }
    }
}
