@import '/src//styles/variables';

.preview {
    grid-area: preview;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0.5rem 1rem;
    width: 100%;
    @include scrollbar;

    a {
        color: var(--chakra-colors-blue-200);
    }

    @include smallDevice {
        padding: 0 1rem;
        max-width: 100%;
    }
}
