@import '/src//styles/variables';

.sidebar {
    display: inline-flex;
    height: 100vh;
}

.openSidebar {
    width: $sidebarWidth;
}

.sidebarButton {
    &:focus {
        box-shadow: none !important;
    }
}
