@import '/src//styles/variables';

.sidebar {
    display: inline-flex;
    height: 100vh;
}

.openSidebar {
    width: $sidebarWidth;
}

.sidebarButton {
    border-right: 1px solid var(--chakra-colors-gray-700) !important;

    &:focus {
        box-shadow: none !important;
    }

    @include smallDevice {
        display: none;
    }
}
